@font-face{
	font-family: 'Raleway';
	src: url('fonts/Raleway-Variable.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Raleway Italic';
	src: url('fonts/Raleway-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Raleway Bold';
	src: url('fonts/Raleway-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* --- */
body{
	font-family: 'Raleway';
}
body p{
	font-size: 0.8em;
}
a{
	text-decoration: none;
}
h2{
	font-family: 'Raleway Bold';
	font-size: 1em;
}
span{
	font-weight: bold;
}
#bloc-page{
	width: 1200px;
	margin: auto;
}
/* en-tête */
header{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 30px;
}
/* logo */
#logo{
	margin-left: 25px;
}
#logo img{
	height: 40px;
	width: 90px;
}
#logo a{
	visibility: hidden;
}
/* navigation */
nav ul{
	display: flex;
	list-style-type: none;
	margin-right: 25px;
}
nav a{
	font-size: 1em;
	color: black;
	margin-top : 30px;
	padding-top: 30px;
	padding: 30px 15px 0px 15px;
}
nav a:hover{
	color: #0065FC;
	border-top: 2px solid #0065FC;
}
.inscription{
	color: #0065FC;
	font-weight: bold;
}
.inscription:hover{
	border: 0px;
}
/* --- */
#before-section{
	margin-left: 25px;
}
#description{
	margin-top: 40px;
}
/* section recherche */
#search{
	display: flex;
	align-items: center;
}
.map_icon i{
	padding: 7px 8px 7px 10px;
	background-color: #F2F2F2;
	border: 1px solid #F2F2F2;
	border-radius: 10px 0px 0px 10px;
}
.search_icon i{
	visibility: hidden;
}
#search input{
	padding: 7px;
	border: 1px solid #F2F2F2;
}
#search button{
	padding: 7px 10px 7px 8px;
	background-color: #0065FC;
	color: white;
	border: 1px solid #0065FC;
	border-radius: 0px 10px 10px 0px;
}
#search p{
	display: none;
}
/* filtres */
#filtre-group{
	margin-top: 15px;
	display: flex;
	align-items: center;
}
#filtre-group p{
	font-family: 'Raleway Bold';
}
#filtre-group ul{
	display: flex;
}
#filtre-group li{
	list-style-type: none;
	color: black;
	margin-left: 15px;
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	padding-right: 10px;
	font-size: 0.8em;
	font-family: 'Raleway Bold';
	text-decoration: none;
	transition: all 1s ease;
}
#filtre-group li:hover{
	transform:scale(1.15);
}
#filtre-group i{
	color: #0065FC;
	background-color: #DEEBFF;
	border: 2px solid #DEEBFF;
	border-radius: 50%;
	padding: 9px;
	margin-right: 5px;
}
/* information */
#info i{
	color: #0065FC;
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	padding: 5px 8px 5px 8px;
}
/* section hébergements */
#first-section{
	display: flex;
	margin-bottom: 50px;
}
#hebergements{
	flex: 3;
	background-color: #F2F2F2;
	border-radius: 15px;
	padding: 15px 25px 15px 25px;
	margin-left: 25px;
	margin-right: 25px;
}
#hebergements a{
	margin-left: 25px;
	font-family: 'Raleway Bold';
	font-size: 0.8em;
	color: black;
	text-decoration: none;
}
.title_hebergements{
	margin-left: 10px;
}
/* miniature hébergements */
#min-hebergements{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#min-hebergements article{
	background-color: white;
	padding: 5px;
	border-radius: 15px;
	margin-bottom: 30px;
	line-height: 0.5em;
}
#min-hebergements img{
	height: 110px;
	width: 210px;
	object-fit: cover;
	position: auto;
	border-radius: 15px 15px 0px 0px;
}
#min-hebergements h2{
	margin-left: 10px;
	font-size: 0.8em;
}
#min-hebergements p{
	margin-left: 10px;
}
#min-hebergements div{
	margin-left: 10px;
	font-size: 0.8em;
}
#min-hebergements i{
	font-size: 0.8em;
	color: #0065FC;
}
#min-hebergements p i:last-of-type{
	color: #F2F2F2;
}
/* section populaire */
aside{
	flex: 1.2;
	position: relative;
	background-color: #F2F2F2;
	border-radius: 15px;
	padding: 15px 20px 15px 20px;
	margin-right: 25px;
}
#title-populaires{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#min-populaires img {
	height: 110px;
	width: 110px;
	object-fit: cover;
	border-radius: 15px 0px 0px 15px;
}
#min-populaires article {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	padding: 5px;
	border-radius: 15px;
	margin-top: 20px;
	margin-bottom: 30px;
	line-height: 0.4em;
}
#min-populaires div{
	padding-left: 15px;
}
#min-populaires h2{
	font-size: 0.8em;
}
#min-populaires p i:last-of-type{
	color: #F2F2F2;
}
#min-populaires i{
	margin-top: 25px;
	margin-bottom: 0px;
	font-size: 0.7em;
	color: #0065FC;
}
.stars{
	font-size: 0.8em;
	margin-left: -15px;
}
/* section activités */
.title_activites{
	margin-left: 25px;
}
#activites{
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}
#activites h2{
	margin-left: 10px;
}
.activites_solo{
	height: 375px;
	box-shadow: 2px 2px 4px 2px #F2F2F2;
	border-radius: 15px;
}
.activites_solo img{
	height: 325px;
	width: 250px;
	object-fit: cover;
	border-radius: 15px 15px 0px 0px;
}
.activites_duo{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.normal_img img{
	height: 150px;
	width: 250px;
}
.child_img img{
	height: 100px;
	width: 250px;
}
.activites_duo div{
	box-shadow: 2px 2px 4px 2px #F2F2F2;
	border-radius: 15px;
	padding-bottom: 2px;
}
.activites_duo img{
	object-fit: cover;
	border-radius: 15px 15px 0px 0px;
}
/* pied de page */
footer{
	width: 1250px;
	margin: auto;
	display: flex;
	text-decoration: none;
	padding: 15px;
	background-color: #F2F2F2;
}
footer div{
	margin-left: 40px;
	margin-right: 160px;
}
footer h2, footer p{
	color: black;
	text-decoration: none;
}
/* mobile */
@media screen and (max-device-width: 480px){
	h2{
		font-size: 2.5em;
	}
	#bloc-page{
		width: auto;
	}
	#logo{
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}
	#logo img{
		height: 100px;
		width: auto;
	}
	#logo a{
		margin-left: 500px;
		font-size: 2.8em;
		visibility: visible;
		color: #0065FC;
		font-weight: bold;
	}
	header{
		flex-direction: column;
		align-items: flex-start;
	}
	nav ul{
		padding-right: 200px;
		padding-bottom: 25px;
		border-bottom: 5px solid #F2F2F2;
	}
	nav a{
		margin-left: 100px;
		font-size: 3em;
	}
	nav a:hover{
		color: #0065FC;
		border-top: 0px;
	}
	.inscription{
		display: none;
	}
	#description p{
		font-size: 0.7em;
	}
	#search{
		margin-top: 50px;
	}
	#search input{
		font-size: 3em;
		padding: 20px;
	}
	#search i{
		font-size: 2.5em;
		padding: 30px;
	}
	.search_icon i{
		visibility: visible;
		color: white;
		background-color: #0065FC;
		border: 1px solid #0065FC;
		border-radius: 10px 10px 10px 10px;
	}
	#search button{
		display: none;
	}
	#filtre-group{
		flex-direction: column;
		align-items: flex-start;
	}
	#filtre-group p{
		font-size: 2.8em;
	}
	#filtre-group ul{
		flex-wrap: wrap;
		margin-left: -50px;
	}
	#filtre-group li{
		margin-bottom: 30px;
		border-radius: 40px;
		font-size: 2.8em;
	}
	#filtre-group i{
		padding: 20px;
		border-radius: 40px;
		margin: auto;
	}
	#info{
		margin: 50px 0px 50px 0px;
	}
	#info i{
		padding: 15px 20px 15px 20px;
	}
	#info p{
		margin-left: 15px;
	}
	#first-section{
		flex-direction: column-reverse;
	}
	#hebergements{
		background-color: white;
	}
	.title_hebergements{
		margin-left: 40px;
		font-size: 3.5em;
	}
	#hebergements a{
		margin-left: 40px;
		font-size: 2.5em;
	}
	#min-hebergements article{
		margin-left: 80px;
		height: auto;
		width: auto;
		padding: 10px;
		border-radius: 40px;
		line-height: 1em;
		box-shadow: 10px 10px 15px 10px #F2F2F2;
	}
	#min-hebergements img{
		height: 350px;
		width: 850px;
		border-radius: 40px 40px 0px 0px;
	}
	#min-hebergements h2{
		margin-left: 10px;
		font-size: 1.5em;
	}
	#min-hebergements p{
		margin-left: 10px;
	}
	#min-hebergements i{
		margin-bottom: 10px;
	}
	aside{
		width: 100%;
		margin: auto;
		padding: 40px;
		border-radius: 0px;
	}
	#title-populaires h2, #title-populaires i{
		font-size: 3em;
	}
	#min-populaires article{
		margin: auto;
		width: 850px;
		margin-bottom: 30px;
		padding: 10px;
		border-radius: 40px;
	}
	#min-populaires img{
		height: 350px;
		width: 350px;
		border-radius: 40px 0px 0px 40px;
	}
	#min-populaires h2{
		font-size: 2.8em;
	}
	#min-populaires p{
		font-size: 2.5em;
	}
	#min-populaires i{
		margin-top: 100px;
	}
	.stars{
		font-size: 2.5em;
	}
	#activites{
		margin-left: 40px;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.title_activites{
		margin-left: 100px;
		margin-bottom: 50px;
	}
	#activites h2{
		margin-left: 40px;
	}
	.activites_solo, .activites_duo div{
		height: auto;
		width: 850px;
		margin-bottom: 50px;
		border-radius: 40px;
		line-height: 1em;
		box-shadow: 10px 10px 15px 10px #F2F2F2;
	}
	
	.activites_solo img, .activites_duo img{
		height: 350px;
		width: 850px;
		border-radius: 40px 40px 0px 0px;
	}
	footer{
		width: 100%;
		padding-right: 50px;
		flex-direction: column;
		align-items: flex-start;
		font-size: 1.3em;
	}
}
/* tablette */
@media screen and (min-device-width: 480px) and (max-width: 991px){
	#bloc-page{
		width: auto;
	}
	#logo img{
		height: 100px;
		width: auto;
	}
	#logo img{
		height: 70px;
		width: auto;
	}
	aside{
		margin: auto;
	}
	#min-hebergements img{
		width: 250px;
	}
	#min-hebergements h2{
		font-size: 1.2em;
	}
	#min-populaires h2{
		font-size: 1.2em;
	}
	#min-populaires img{
		height: 150px;
		width: 250px;
		border-radius: 15px 15px 0px 0px;
	}
	.stars{
		padding-bottom: 10px;
	}
	#activites{
		flex-wrap: wrap;
	}
	#activites article{
		margin-bottom: 25px;
	}
	.activites_solo img{
		width: 400px;
	}
	footer{
		width: auto;
	}
	footer div{
		margin: auto;
	}
}
